* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: $font_police;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .flex {
    display: flex;
}

h1 {
    font-family: $font_title;
    flex: 1;
    text-align: center;
  }