.loader {
    position: fixed;
    z-index: 3;
    transform: scale(0);
    background-color: #f7f7f7ad;
    animation: load-background 1.5s 100ms backwards;
    .spinner{
        transform: scale(0);
        font-size: 8rem;
        color: $color-primary;
        margin: auto;
        animation: load-spinner 1.5s 100ms linear backwards;
    }
}

@keyframes load-spinner{
    0% {
        transform: rotate(0deg);
    }
    75% {
        opacity: .75;
    }
    100% {
        transform: rotate(1.5turn);
        opacity: 0;
    }
}

@keyframes load-background{
    0%,100% {
        transform: scale(1);
        width: 100vw;
        height: 100vh;
    }
}

.logo {
    height: 60px;
    justify-content: center;
    padding: 20px 0px 10px 0px;
}

.position {
    height: 50px;
    background-color: #EAEAEA;
    box-shadow: inset 5px 50px 5px -46px #CFCFCF;
    align-items: center;
    justify-content: center;
    &__text {
        color: #353535;
        font-size: 18px;
        font-weight: 500;
        margin-left: -30px;
    }
}

#pos_logo {
    margin-right: 20px;
}

.intro {
    flex-direction: column;
    align-items: center;
    background-color: $gray;
    padding: 40px 0px 50px 0px;
    &__title {
        width: 70%;
        text-align: center;
    }
    &__text {
        margin-top: 15px;
        width: 80%;
        text-align: center;
        color: #969696;
    }
}

.operation {
    flex-direction: column;
    width: 100%;
    &__title {
        margin: 30px 0px 30px 30px;
        @include mobile-only {
            margin-left: 15px;
        }
    }
}

.cards {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    @include tablet-only {
        flex-direction: column;
    }
    &__element {
        border: 0px solid;
        border-radius: 25px 25px 25px 25px;
        background-color: $gray;
        padding: 25px 10px 25px 30px;
        font-weight: 700;
        box-shadow: 0px 5px 10px #eee3e3;  
        display: flex;
        width: 90%;
        max-width: 320px;
        margin-bottom: 20px;
        @include mobile-only {
            max-width: 350px;
        }
        &:hover {
            background-color: #9256dc22;
            cursor: pointer;
            .step-icon {
                color: $color_primary;
            }
        }
        }
}

div > i {
    margin-right: 30px;
    padding-top: 2px;
}

.step {
    margin: 0px 25px 0px -37px;
    border: 0px solid $color_primary;
    border-radius: 25px;
    background-color: $color_primary;
    padding: 2px 7px 2px 7px;
    color: white;
}

.resto {
    flex-direction: column;
    background-color: $gray;
    padding-bottom: 30px;
    &__title {
        margin: 30px 0px 30px 30px;
        @include mobile-only {
            margin-left: 15px;
            align-items:flex-start;
        }
    }
}

.cards-restaurant {
    justify-content: space-evenly;
    flex-wrap: wrap;
    @include tablet-only {
        flex-direction: column;
        align-items: center;
    }
}

.card-restaurant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 250px;
    margin: 0px 10px 20px 10px;
    box-shadow: 0px 5px 10px #eee3e3; 
    border-radius: 25px;
    max-width: 350px;
    position: relative;
    &__img {
        object-fit: cover;
        width: 100%;
        border-radius: 25px 25px 0px 0px;
        height: 180px;
        object-position: 50% 62%;
    }
  
    &__bottom {
        display: flex;
        justify-content: space-between;
        margin: 10px 0px 0px 10px;
    }
    .new {
        position: absolute;
        right: 5px;
        z-index: 2;
        right: 15px;
        top: 20px;
        border: 1px solid $color_tertiary;
        background-color: $color_tertiary;
        padding: 5px 10px 5px 10px;
        font-size: 15px;
        color: darken($color_tertiary, 40%);
        font-weight: 700;
    }
}

.caracteristic {
    &__name {
        font-weight: 700;
    }
}