//Colors//
$color_primary: #9356DC;
$color_secondary: #FF79DA;
$color_tertiary: #99E2D0;
$gray: #f7f7f7;
$dark-gray: darken($gray, 75%);

//Google-fonts//
$font_police: 'Roboto', sans-serif;
$font_title: 'Shrikhand', cursive;

//Breakpoint//
$breakpoints: (
  mobile: 768px,
  tablet: 992px
);

//Others//
$check-transition-width: 72px;
$max-dishes: 4;
$menu-appear-delay: 200ms;