.heart1 {
    position: absolute;
    font-size: 22px;
    margin-top: 5px;
    z-index: 1;
    &:hover {
        z-index: 0;
    }
}

.heart2 {
    position: relative;
    color: $gray;
    font-size: 22px;
    margin-top: 5px;
    &::before {
        content: "\f004";
        transition: all 1s;
    }
    &:hover {
        cursor: pointer;
    background: linear-gradient($color_primary, $color_secondary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    z-index: 1;
    }
}